# configs/model/ast.yaml
name: ast
class_path: sousa.models.ast.ASTModel
num_classes: 40
pretrained: true

# Input requirements
input_type: spectrogram
sample_rate: 16000
n_mels: 128
n_fft: 400
hop_length: 160
max_length: 1024
